<!DOCTYPE html>
<html lang="en">

<head th:replace="head"></head>

<body>
	<!-- Navigation-->
	<nav th:replace="nav">
	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Detalle Pedido</h1>
			</div>
		</div>
	</header>
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				<table class="table table-striped">
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Precio Unidad</th>
						<th>Total</th>
					</tr>
					<tr th:each="detallesPedido:${lista}">
						<td th:text="${detallesPedido.nombreProducto}"></td>
						<td th:text="${detallesPedido.unidades}"></td>
						<td th:text="${detallesPedido.precioUnidad}"></td>
						<td th:text="${detallesPedido.total}"></td>
					</tr>
					<tr>
						<!--<h3 th:text="'Total: ' + ${total}"></h3>-->
					</tr>
				</table>
			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer class="py-5 bg-dark" th:replace="footer"></footer>

</body>

</html>