<!DOCTYPE html>
<html lang="en">
<head th:replace="head"></head>
<body>
	<!-- Navigation-->
	<nav th:replace="nav"></nav>
	<!-- Product section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5" th:object="${product}">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
						src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."/></div>
				<div class="col-md-6">
					<h1 class="display-5 fw-bolder" th:text="${producto.nombre}">nombre</h1>
					<h4  th:text="${producto.descripcion}">descripcion</h4>
					<div class="fs-5 mb-5">
						<span th:text="${producto.precio} + €">precio</span>
					</div>
					<p class="lead"></p>
					<div class="d-flex">
						<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
						<div class="text-center" th:if="${session.rol == 0 || session.rol == 3}">
								<a class="btn btn-outline-dark mt-auto" th:href="@{/carrito/add/}+${producto.id}">Añadir
									al carrito</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer th:replace="footer"></footer>
</body>
</html>