<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Editar producto</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
	<form id="forl" class="form-signin" th:action="@{/producto/update/submit}" th:object="${producto}" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Editar producto</h1>
		<div>
			<label for="nombre" class="sr-only">Nombre:</label>
			<input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}">
		</div>
		<div>
			<label for="descripcion" class="sr-only">Descripción:</label>
			<input type="text" id="descripcion" name="descripcion" class="form-control" th:field="*{descripcion}">
		</div>
		<div>
			<label for="precio" class="sr-only">Precio:</label>
			<input type="text" id="precio" name="precio" class="form-control" th:field="*{precio}" required>
		</div>
		<div>
			<label for="stock" class="sr-only">Stock:</label>
			<input type="number" id="stock" name="stock" class="form-control" th:field="*{stock}">
		</div>
		<div>
			<label for="impuesto" class="sr-only">Impuesto:</label>
			<input type="text" id="impuesto" name="impuesto" class="form-control" th:field="*{impuesto}">
		</div>
		<p th:text="${mensaje}" style="color: red;">mensaje</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Editar Producto</button><br><br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Volver</button>
		
		<input type="hidden" id="id" name="id" th:field="*{id}">
		<p class="mt-5 mb-3 text-muted"> &copy; Bea</p>
	</form >

</body>

</html>