<!DOCTYPE html>
<html lang="en">

<head th:replace="head"></head>

<body>
	<!-- Navigation-->
	<nav th:replace="nav">
	</nav>
	<!-- Header-->
	<header th:replace="header">
	</header>
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				<div class="col mb-5" th:each="producto:${catalogo}">
					<div class="card h-100">
						<a th:href="@{/producto/detalle/}+${producto.id}"><img class="card-img-top"
								src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></a>
						<div class="card-body p-4">
							<div class="text-center">
								<h5 class="fw-bolder" th:text="${producto.nombre}">Nombre</h5>
								<h6 th:text="${producto.precio} + €"></h6>
							</div>
						</div>
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							
							<div class="text-center" th:if="${session.rol == 0 || session.rol == 3}">
								<a class="btn btn-outline-dark mt-auto" th:href="@{/carrito/add/}+${producto.id}">Añadir
									al carrito</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer class="py-5 bg-dark" th:replace="footer"></footer>
</body>

</html>